{% extends '::base.html.twig' %}

{% block title %}
Inscription.
{% endblock %} 
   
{% block body %}


<h1>Inscription</h1>    
	<p>
		Pour vous inscrire, veuillez remplir les champs suivants :
		{{ form(form) }}
	</p>
{% endblock %}
