<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
	   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
    	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>  	
    	<meta name="keywords" content="Acteurs, Actrices, Actorzzz, Actrïzzz, topTenzzz, Armanger, Parmenon, Marechal"/>
    	<meta name="description" content="Site décalé de référencement et d'informations concernant des acteurs (Actorzzz) et des actrices (Actricszzz), qui permet -en tant que membre- de voter pour faire apparaître dans le topTenzzz les éluzzz de votre coeur"/>
		<meta name="robots" content= "noodp" />
		<META name="Date" content="Wed, 16 March 2015 00:00:00"> 
		<META name="owner" content="Armanger, Maréchal, Parminion">
		
		<! link rel="stylesheet" type="text/css" href="http://site.com/resource/doc.css" />
		

                                
        <title>{% block title %}	{% endblock %}</title>
        
        {% block stylesheets %}		{% endblock %}
    </head>
    <body>
        {% block body %}	{% endblock %}
        {% block javascripts %}	{% endblock %}
    </body>
</html>
