<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
    	<meta charset = "UTF-8"/>
    	<meta name = "description" content = "Site décalé de référencement et d'informations concernant des acteurs et des actrices, qui permet -en tant que membre- de voter pour faire apparaître dans le topTenzzz les élus de votre coeurzzz"/>
    	<meta name = " keywords " content = "Acteurs, Actrices"/>
        
        <title>{% block title %}haha{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
