<!-- Ceci est un commentaire => Accueil du site -- <!DOCTYPE html> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
    	<meta name = "description" content = "Site de référencement décalé d'acteurs et d'actrices" >
    	<meta name = " keywords " content = " Ecrire ici les mots clés " >
        <meta charset="utf-8">
        
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
