{% extends '::base.html.twig' %}

{% block title %}
Vos infos
{% endblock %} 
   
{% block body %}
<a href="{{ path('actorzzz_homepage') }}">Homezzz</a>
<a href="{{ path('actorzzz_acteur') }}">Actorzzz</a>
<a href="{{ path('actorzzz_actrice') }}">Actrizzz</a>
<a href="{{ path('actorzzz_contact') }}">Nous contacterzzz</a>
<h1>Votre page membre !</h1>    
	<p>
		Voici vos infos personnelles :
	</p>
{% endblock %}
