{% extends '::base.html.twig' %}

{% block title %}
Bienvenue sur Actorzzz : un beau site et bien plus encorezzz !
{% endblock %} 
   
{% block body %}
<h1>Accueil du site !</h1>    
	<p>
		Bienvenue sur la deuxième version du site de référencement pour les fanszzz d'actorszzz et actriszzz. 
	</p>
{% endblock %}
