<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma page d'accueil du site !</title>
    </head>
    <body>
        <h1>Accueil du site!</h1>
        
        <p>
            Bienvenue sur la toute première version du site de référencement des acteurs et des actrices. 
        </p>
    </body>
</html>

