{% extends '::base.html.twig' %}

{% block title %}
Nous contacter.
{% endblock %} 
   
{% block body %}
<h1>Contact !</h1>    
	<p>
		Voulez vous contacter les personnes suivantes :
	</p>
{% endblock %}
