{% extends '::base.html.twig' %}

{% block title %}
Nous contacter.
{% endblock %} 
   
{% block body %}


<h1>Contact !</h1>    
	<p>
		Envoi de mail :
		{{ form(form) }}
		<FORM>
			<INPUT TYPE="submit" NAME="nom" VALUE="Envoyez">
		</FORM>
	</p>
{% endblock %}
