{% extends '::base.html.twig' %}

{% block title %}
Nous contacter.
{% endblock %} 
   
{% block body %}


<h1>Contact !</h1>    
	<p>

		Envoi de mail :
		
		    {{ form(form) }}
	</p>
{% endblock %}
