{% extends '::base.html.twig' %}

{% block title %}
Des acteurzzz partout
{% endblock %} 
   
{% block body %}

<h1>Liste des acteurzzzs !</h1>    
	<p>
		Voici la page pour voir notre liste d'acteurzzz
	</p>
{% endblock %}
