{% extends '::base.html.twig' %}

{% block title %}
Des acteurzzz partout
{% endblock %} 
   
{% block body %}
<a href="{{ path('actorzzz_homepage') }}">Homezzz</a>
<a href="{{ path('actorzzz_actrice') }}">Actrizzz</a>
<a href="{{ path('actorzzz_membre') }}">Memberzzz</a>
<a href="{{ path('actorzzz_contact') }}">Nous contacterzzz</a>

<h1>Liste des acteurzzzs !</h1>    
	<p>
		Voici la page pour voir notre liste d'acteurzzz
	</p>
{% endblock %}
