{% extends '::base.html.twig' %}

{% block title %}
Des actrizzz partout
{% endblock %} 
   
{% block body %}
<a href="{{ path('actorzzz_homepage') }}">Homezzz</a>
<a href="{{ path('actorzzz_acteur') }}">Actorzzz</a>
<a href="{{ path('actorzzz_membre') }}">Memberzzz</a>
<a href="{{ path('actorzzz_contact') }}">Nous contacterzzz</a>
<h1>Liste des actrizzz !</h1>    
	<p>
		Voici la page pour voir notre liste d'actrizzz
	</p>
{% endblock %}
